<div class="container">
  <div class="jumbotron">

    <h1 class='text-center'>Spotify API-curious</h1>
    <h3 class='text-center'><%= link_to "Login with Spotify", spotify_login_path %></h3>
  </div>
</div>
