<div class="container">
  <div class="jumbotron">
    <img src="http://vignette1.wikia.nocookie.net/logopedia/images/f/f8/Spotify2015.png/revision/latest?cb=20150401181504" class="text-center" id="img" />
    <h1 class='text-center'>Spotify API-curious</h1>
    <%= render partial: 'shared/login' %>
  </div>
</div>
